[Desktop Entry]
Name=netana
Comment=netana
Exec=netana/start-netana.py
Icon=netana/doc/NetAna-t.png
Terminal=false
Type=Application
Categories=Engineering
